/* CSS declarations go here */

.splash {
	background: url("/assets/images/splash.jpg") center center no-repeat fixed;
	background-size: cover;
	width: 100%;
	height: 400px;
}

.splash-title {
	vertical-align: middle;
	text-align :center;
	color: #FFF;
	text-transform: uppercase;
	font-size: 4em;
	font-weight: bold;
}

.game-title {

}